<%= fancybox 'true' %>

<div class="welcome-header">
  <div class="character">
    <h1>I can't wait!</h1>
    <h2>You're almost here!</h2>
  </div>
</div>

<div id="homepage-login">
  <div class="enter-button-background">
    <%= link_to 'Enter Worlize', url_for(:controller => 'facebook_canvas', :action => 'enter_worlize'),
                :class => 'enter-button',
                'data-action' => 'link' %>
  </div>
  <%= link_to 'What is this thing anyway?', about_url, :class => 'what-is-this-thing-link' %>
</div>

<% content_for :page_script do %>
<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('.what-is-this-thing-link').click(function(event) {
      event.preventDefault();
    });
    $('.what-is-this-thing-link').fancybox({
      type: 'iframe',
      href: 'http://player.vimeo.com/video/17431869?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1',
      width: 500,
      height: 298,
      overlayShow: false
    });

    $('a.enter-button').click(function(event) {
      event.preventDefault();
      top.location.href = $(this).attr('href');
    });
  });
</script>
<% end %>