<% if @success %>
$('#registration_row_<%= @registration.id %>').html('<td colspan="6">Registration for <%= @registration.first_name + " " + @registration.last_name %> has been deleted.</td>');
<% else %>
$('#registration_row_<%= @registration.id %>').html('<td colspan="6">Unable to delete beta registration.</td>');
<% end %>