<% if @registration.name %>
  <% name = @registration.name %>
<% else %>
  <% name = "#{@registration.first_name} #{@registration.last_name}" %>
<% end %>
$('#registration_row_<%= @registration.id %>').html('<td colspan="6">Invited user <%= escape_javascript(name) %>.</td>');