<%= title 'Developer Program' %>

<% content_for :extra_styles do %>
#developer-header {
  position: relative;
  width: 850px;
  margin: 0px auto;
}

#developer-header h1 {
  font-size: 40pt;
  line-height: 60pt;
  position: absolute;
  top: 40px;
  left: 290px;
  text-align: left;
}

#developer-header h2 {
  position: absolute;
  font-size: 20pt;
  top: 105px;
  left: 310px;
  text-align: left;
  color: #ff7b00;
}

.linkedin-signup-button {
  display: block;
  height: 37px;
  text-align: center;
  margin-top: -80px;
  margin-bottom: 40px;
}

.linkedin-signup-button-bottom {
  display: block;
  height: 37px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}


a.eternal-glory {
  text-decoration: none !important;
}
<% end %>

<div id="developer-header">
  <img src="https://s3.amazonaws.com/worlize/red-fire-256x256.png" width="256" height="256">
  <h1>Join the Developer Program</h1>
  <h2>Eternal Glory Awaits!</h2>
</div>

<p class="linkedin-signup-button">
<% if Rails.env == 'production' %>
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    api_key: x79h7ojo5xvm
  </script>
<% else %>
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    api_key: xdoher5yhbwz
  </script>
<% end %>
  <script type="IN/Apply" data-companyname="Worlize Inc." data-jobtitle="Worlize Developer Program" data-companyId="1057164" data-showText="false"  data-logo="https://s3.amazonaws.com/worlize/red-fire-100x60.png" data-themecolor="#f16522" data-email="developer-program@worlize.com"></script>
</p>

<section class="description-odd">
  <h1 style="margin-top:0px;">Apply Now</h1>
  <p>Just use the super-slick LinkedIn button above to apply for early access to the developer preview of our new SDK!  Once you're accepted we'll pull back the curtain and you will receive a copy of the SDK and documentation.  And <a class="eternal-glory" href="http://www.hark.com/clips/cvljpxywvn-eternal-glory" target="_blank">eternal glory</a>.</p>
  <p>C'mon, you know you want to!  Did we mention the <a href="http://www.youtube.com/watch?v=4Z3r9X8OahA" class="eternal-glory" target="_blank">eternal glory</a>?  Just do it.  Go ahead.  Click the button.</p>
  <p>What?  <a href="http://cdn.memegenerator.net/instances/400x/9378685.jpg" target="_blank" class="eternal-glory">Eternal glory</a> isn't good enough for you?!  Fine, keep reading…</p>
</section>

<section class="description-even">
  <h1><small class="accent-color-1">Architect New</small><br>Experiences</h1>
  <p>As an ActionScript 3 developer, you can use the Worlize SDK to design and build embedded Flash objects that users can drag-and-drop directly into their rooms.  With access to the full power and capabilities of the Flash platform, anything that can be done in Flash can be done in Worlize*.  The SDK gives your embedded objects full awareness of all the users and events in the room including movement, chat, and avatar changes so your object can alter the standard behavior or introduce completely new functionality.</p>
</section>

<section>
  <h1><small class="accent-color-3">The Sky</small><br>
  Is the Limit</h1>
  <p>You really can create just about anything!  From simple photo galleries, music players and avatar dispensers to more complex items like a <a href="http://turntable.fm" target="_blank">turntable.fm</a> style DJ stage or a synchronized <a href="http://vimeo.com/api/docs/moogaloop-as" target="_blank">Vimeo player</a> for users to share media together in real-time.  Or perhaps you will create an app that uses the Google Translate API to enable people from all over the world to communicate together in real time.  Honestly, we haven't even imagined what kinds of awesome new social experiences you'll be designing and bringing to your users.  The sky really is the limit, and we can't wait to see your vision unfold!
</section>

<section>
  <h1><small class="accent-color-4">Multiplayer</small><br>
      Games
  </h1>
  <p>If you're a game developer, you can use the communications API to easily create fully synchronized real-time multiplayer games.  The SDK makes it trivial to broadcast events and game-state updates to the other users in the room through the Worlize servers, so you won't have to deal with the complexities of server-side development or deployment.  You can focus on what you do best - game design - and let the Worlize servers do the heavy lifting.</p>
</section>

<section class="description-odd">
  <h1><small class="accent-color-5">Sell Your</small><br>
    Creations</h1>
  <p>Once you're finished creating your fancy new super-amazing <a href="http://www.youtube.com/watch?v=wjOICzkO0tU" target="_blank">combination-hookah-and-coffee-maker</a> app, you can put it up for sale in the Worlize Marketplace and make some cash!  When the Marketplace goes live at the end of the SDK Developer Preview, users will be able to buy your app, drop it into their own world, and enjoy it with their friends.</p>
</section>

<section class="description-even">
  <h1><small class="accent-color-6">Achieve</small><br>
      Eternal Glory</h1>
  <p>Well duh!  Obviously!  You're getting in on the ground floor.  You're the one who gets to create and sell the all-important first <strong>fart-sound app</strong> in a totally new app marketplace!  Just imagine the glory!  And the money!  Persons of your preferred gender will be lining up to bow before you and feed you peeled grapes while fanning you with palm fronds**.  What's not to like?  Now click the apply button already.  Hurry up!  Go now!</p>
<br><br><br>
<small>* Except Stage 3D and Stage Video or direct access to the stage.</small><br>
<small>** Well, maybe that's a bit of an exaggeration.  But you get the idea.</small>
</section>

<p class="linkedin-signup-button-bottom">
  <script type="IN/Apply" data-companyname="Worlize Inc." data-jobtitle="Worlize Developer Program" data-companyId="1057164" data-showText="false"  data-logo="https://s3.amazonaws.com/worlize/red-fire-100x60.png" data-themecolor="#f16522" data-email="developer-program@worlize.com"></script>
</p>
