<% content_for :extra_styles do %>
.reset-password-form {
  margin-top: 40px;
  margin-bottom: 40px;
}
<% end %>

<div class="row">
  <div class="span6 offset3">
    <h1>Forgot Login Name</h1>
    <p>Can't remember your Login Name?  Enter your email address below and click Submit.  We'll send you an email with your login name and a password reset link.</p>

    <%= form_tag password_resets_path, :method => :post, :class => 'reset-password-form form-horizontal' do %>
      <div class="control-group">
        <%= label_tag :email, 'Email', :class => 'control-label' %>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <%= text_field_tag :email, nil, :class => 'span2' %>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= submit_tag "Submit", :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>