<h1>Tag Contexts</h1>

<% if @tag_contexts.length == 0 %>
  (There are no custom tag contexts)
<% else %>
  <table cellpadding="0" cellspacing="0" border="0" class="datagrid" width="400">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  <% for tag_context in @tag_contexts %>
    <tr class="<%= cycle('even','odd') %>">
      <td><%= link_to tag_context.name, [:admin, tag_context] %></td>
      <td><%= link_to 'Delete', [:admin, tag_context], :method => :delete,
                    :confirm => "Are you sure you want to delete the tag context \"#{tag_context.name}\"?  All taggings made within this context will be moved to the default general context." %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<br><br>
<h2>New Tag Context</h2>
<%= render :partial => 'form' %>

<script>
jQuery(function($) {
  $('#marketplace_tag_context_name').focus();
});
</script>