<h1>New Background</h1>
<%= form_for [:admin, @background], :url => admin_backgrounds_path, :html => { :multipart => true } do |form| %>
  <%= form.text_field :name %><br/>
  <%= form.file_field :image %><br/><br/>
  <%= form.submit %>
<% end %>