<nav id="adminNav">
  <ul>
    <li><%= link_to "Users", admin_users_path %></li>
    <li><%= link_to "Beta Registrations", admin_beta_registrations_path %></li>
    <li><%= link_to "Worlz", admin_worlds_path %></li>
    <li><%= link_to "Backgrounds", admin_backgrounds_path %></li>
  </ul>
  <div style="clear:both;"></div>
</nav>