<h1>New Background</h1>
<%= form_for :background, @background, :url => backgrounds_path, :html => { :multipart => true } do |form| %>
  <%= form.text_field :name %><br/>
  <%= form.file_field :image %><br/><br/>
  <%= form.submit %>
<% end %>