/* @override http://localhost/stylesheets/admin.css */

html,body {
	background: #acb4c8;
}

body {
	padding: 0px 0px;
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

a {
	color: #233d82;
	text-decoration: none;
}

a:hover {
	color: #3963d4;
	text-decoration: underline;
}

#container {
	width: 960px;
	margin: 2px auto;
}

header h1 {
	padding: 15px;
	font-size: 30px;
	font-weight: bold;
	text-shadow: #dce3f4 0 1px 0;
}

#loginLinks {
	float: right;
	margin: 15px 0px;
	background-color: #d6dded;
	padding: 5px 15px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#flashNotice {
	margin: 0px 0px 10px;
	padding: 10px 20px;
	background-color: #c5e3c5;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#pageContent {
	margin: 0px 0px 30px;
	padding: 20px;
	border-radius: 10px;
	background-color: #d6dded;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#pageContent > h1 {
	font-size: 25px;
	font-weight: bold;
	border-bottom: 2px solid #acb4c8;
	margin: 0px 0px 10px;
}

table.datagrid {
	border: 1px solid #989fb1;
}

table.datagrid th {
	background-color: #989fb1;
	color: #000;
	font-weight: bold;
	text-align: left;
	text-shadow: #b0b6c4 0 1px 0;
}

table.datagrid th,td {
	padding: 3px 8px;
}

table.datagrid td {
	background-color: #e8ecf4;
}

table.datagrid tr.odd td {
	background-color: #d5dbe7;
}

/* @group Rails Error Explanations */

div.errorExplanation {
	padding: 10px;
	background-color: #aeb6ca;
	text-shadow: #cfd1d6 0 1px 0;
	margin: 0px 0px 10px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

div.errorExplanation h2 {
	font-size: 17px;
	color: #7e1c1e;
	text-shadow: #dcd3d3 0 1px 0;
	font-weight: bold;
}

div.errorExplanation ul {
	margin: 10px;
}

div.errorExplanation ul li {
	list-style-type: disc;
	list-style-position: inside;
}

/* @end */
