/* @override 
	http://turtle.office.worlize.com/stylesheets/login.css
	https://turtle.office.worlize.com/stylesheets/login.css
*/

html,body {
	background-color: #e6e2dc !important;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000000;
}

label {
	font-family: PTSansNarrowBold;
	font-size: 16pt;
	color: #333;
}

input[type='text'],
input[type='password'] {
	width: 254px;
	font-family: PTSansNarrowRegular;
	font-size: 14pt;
	padding: 3px 5px;
	color: #333;
	border: 1px solid #bfb3b3;
	border-radius: 5px;
}

input[type='submit'] {
	background-color: #FFF !important;
	border: 1px solid #AAA;
	color: #333;
	padding: 3px 12px;
	font-size: 14pt;
	font-family: PTSansNarrowRegular;
	margin: 0px 0px 0px;
	border-radius: 5px;
	border: 1px solid #bfb3b3;
}

input {
}

input:focus {
	box-shadow: 0px 0px 15px 2px rgba(255,255,255,1);
}

#fake-app-background {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 966px;
	height: 636px;
	background-image: url(/images/login-overlay/app-background.jpg);
}

#container > .beta-banner {
	position: fixed;
	width: 131px;
	height: 131px;
	top: 0px;
	left: 0px;
	z-index: 99999;
	background: url(../images/beta-banner-cyan.png);
	pointer-events: none;
	opacity: 0.8;
}

#container > .beta-banner > h1 {
	text-indent: -10000px;
}

#login-overlay-shroud {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(63,63,63,0.5);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(rgba(63,63,63,0.2)), to(rgba(63,63,63,0.95)));
	background: -moz-radial-gradient(50% 50%, farthest-side, rgba(63,63,63,0.2), rgba(63,63,63,0.65));
}

#login-overlay {
	position: relative;
	font-family: PTSansNarrowRegular;
	font-size: 14pt;
	margin: 150px auto 20px;
	width: 535px;
	height: 375px;
	background-color: rgba(229,226,220,1.0);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, from(rgba(248,248,248,1.0)), to(rgba(212,206,196,1.0)));
	background: -moz-radial-gradient(50% 50%, farthest-side, rgba(248,248,248,1.0), rgba(212,206,196,1.0));
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3), 0px 10px 40px rgba(0,0,0,0.75);
}

h1 {
	font-size: 38pt;
	margin: 0px 0px 10px;
	color: #87b411;
}

h2 {
	font-size: 18pt;
	font-family: PTSansNarrowRegular;
	color: #444444;
}

h3 {
	text-align: center;
	margin: 0px 0px 12px;
	font-size: 14pt;
	font-family: PTSansNarrowRegular;
	color: #444444;
}

#login-overlay table {
	margin: 10px auto;
}

#login-overlay th {
	text-align: left;
	padding: 0px 4px;
}

#login-overlay td {
	padding: 0px 4px;
}

#login-overlay input[type="text"],
#login-overlay input[type="password"] {
	width: 160px;
}

/* @group main-login-1 */

#main-login-1 .character {
	position: relative;
	display: block;
	width: 330px;
	height: 100px;
	top: 30px;
	margin: 35px auto;
	background: url(/images/login-overlay/green-jelly.png) no-repeat;
}

#main-login-1 .character h1 {
	position: absolute;
	left: 130px;
}

#main-login-1 .character h2 {
	position: absolute;
	left: 160px;
	top: 52px;
}

.social-network-buttons {
	position: absolute;
	top: 130px;
	right: 50px;
	width: 130px;
	text-align: center;
}

#main-login-1 .facebook-login,
#main-login-1 .twitter-login {
	display: inline-block;
	opacity: 0.8;
}

#main-login-1 .facebook-login:hover,
#main-login-1 .twitter-login:hover {
	opacity: 1;
}

#main-login-1 .login-form {
	width: 300px;
	position: relative;
	margin-left: 35px;
	margin-bottom: 20px;
}

#main-login-1 .login-form table {
	margin: 0px auto;
}
#main-login-1 .login-form td {
	padding: 1px 0px;
}
#main-login-1 .login-form td:first-child {
	text-align: right;
}

#main-login-1 .sign-up-or {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 70px;
	text-align: center;	
	font-size: 16pt;
	display: none;	
}

#main-login-1 .sign-up-link-container {
	position: relative;
	text-align: center;
}

#main-login-1 .sign-up-link {
	border-radius: 10px;
	display: inline-block;
	padding: 10px 40px;
	font-family: PTSansNarrowBold;
	font-size: 18pt;
	border: 1px solid #c1baac;
	background-color: #ddcfbc;
	border-bottom-width: 4px;
	border-bottom-color: #b1aa9e;
}

#main-login-1 .sign-up-link:hover {
	background-color: #e5d9ca;
}

/* @end */

/* @group Username-login-page */

#username-login-page .character h1 {
	position: absolute;
	left: 140px;
	top: 20px;
	font-size: 37pt;
	font-family: PTSansNarrowRegular;
	font-weight: normal;
	color: #444444;
}

#username-login-page .character {
	position: relative;
	display: block;
	width: 370px;
	height: 100px;
	top: 30px;
	margin: 35px auto;
	background: url(/images/login-overlay/red-jelly.png) no-repeat;
}

#username-login-page h3 {
	margin-top: 40px;
	margin-bottom: 20px;
}

#main-login-1 .login-error {
	margin: 0px auto 10px;
	border: 1px solid #beb8b1;
	color: #940500;
	font-size: 16pt;
	font-family: PTSansNarrowBold;
	font-weight: normal;
	text-align: center;
	padding: 4px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 15px;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
}

#main-login-1 .login-error.highlight {
	background-color: rgba(255,129,0,0.35);
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

#username-login-page label {
	font-family: PTSansNarrowBold;
	font-weight: normal;
}

#username-login-page p.social-login {
	font-size: 12pt;
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: #777777;
}

#username-login-page p.social-login a {
	color: #777777;
}

#username-login-page p.social-login a:hover {
	color: #000000;
}


/* @end */

/* @group signup-page */

#signup-page .character h1 {
	position: absolute;
	left: 135px;
	top: 0px;
	font-size: 34pt;
	font-family: PTSansNarrowBold;
	font-weight: normal;
	color: #87b411;
}

#signup-page .character h2 {
	position: absolute;
	left: 138px;
	top: 48px;
}

#signup-page h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 14pt;
	color: #940500;
}

#signup-page .character {
	position: relative;
	display: block;
	width: 400px;
	height: 100px;
	top: 30px;
	margin: 35px auto;
	background: url(/images/login-overlay/green-jelly.png) no-repeat;
}

.newsletter-checkbox {
	margin: 12px 0px 0px;
}

.tos-checkbox {
    margin: 0px 0px 0px;
}

.tos-checkbox label,
.newsletter-checkbox label,
a.tos_link {
	font-family: PTSansNarrowRegular;
	font-weight: normal;
	font-size: 12pt;
	vertical-align: middle;
}

.tos-checkbox input[type=checkbox],
.newsletter-checkbox input[type=checkbox] {
	vertical-align: middle;
}

#signup-page div.submit-button {
	float: right;
	margin: 8px 0px;
}

#validation-tooltip {
	position: absolute;
}

#validation-tooltip .message {
	position: relative;
	z-index: 0;
	top: 9px;
	left: -40px;
	background: #a71f1f;
	padding: 5px 13px;
	font-family: PTSansNarrowBold;
	color: #ffd9d9;
	border: 1px solid #720000;
	border-radius: 4px
}

#validation-tooltip .tip {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: -5px;
	border-style: solid;
	border-width: 0px 10px 10px 10px;
	border-color: transparent transparent #a71f1f transparent;
	width: 0px;
	height: 0px;
	border-bottom-color: #720000;
	border-bottom-width: 10px;
}

input.valid {
	background-color: #e6ffdf !important;
}

input.error {
    background-color: #FFDDDD !important;
}

/* @end */



#signin-form-container {
	padding: 10px;
	background-color: #dfe8eb;
	border: 1px solid #666;
}
