html,body {
	background-color: #e6e2dc !important;
}

#fake-app-background {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 965px;
	height: 637px;
	background-image: url(/images/login-overlay/app-background.jpg);
}

#login-overlay-shroud {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(63,63,63,0.5);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(rgba(63,63,63,0.2)), to(rgba(63,63,63,0.95)));
	background: -moz-radial-gradient(50% 50%, farthest-side, rgba(63,63,63,0.2), rgba(63,63,63,0.65));
}

#login-overlay {
	position: relative;
	margin: 120px auto 20px;
	width: 621px;
	height: 396px;
	background-color: rgba(229,226,220,1.0);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, from(rgba(248,248,248,1.0)), to(rgba(212,206,196,1.0)));
	background: -moz-radial-gradient(50% 50%, farthest-side, rgba(248,248,248,1.0), rgba(212,206,196,1.0));
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3), 0px 10px 40px rgba(0,0,0,0.75);
}

#left-column, #right-column {
	position: absolute;
	top: 0px;
	padding: 15px;
	width: 289px;
}

#left-column {
	left: 0px;
}

#right-column {
	right: 0px;
}

#worlize-logo {
	position: relative;
	margin: 0px 0px 25px;
	width: 170px;
	height: 33px;
	background-image: url(/images/login-overlay/worlize-logo.png);
}

h1 {
	font-size: 22pt;
	margin: 0px 0px 10px;
	color: #333333;
}

h2 {
	font-size: 18pt;
	font-family: PTSansNarrowRegular;
	color: #333333;
}

#signin-form-container {
	padding: 10px;
	background-color: #dfe8eb;
	border: 1px solid #666;
}

label {
	font-family: PTSansNarrowBold;
	font-size: 16pt;
	color: #333;
}

input[type='text'],
input[type='password'] {
	width: 254px;
	font-family: PTSansNarrowBold;
	font-size: 14pt;
	padding: 5px 5px;
	color: #333;
}

input[type='submit'] {
	background-color: #FFF !important;
	border: 1px solid #AAA;
	color: #333;
	font-family: PTSansNarrowBold;
	margin: 10px 0px 0px;
}

input {
	-webkit-transition: box-shadow 0.1s linear;
}

input:focus {
	box-shadow: 0px 0px 15px 2px rgba(255,255,255,1);
}

.login-alternative {
	margin: 20px 10px 10px;
	text-align: center;
	font-size: 13pt;
	font-family: PTSansNarrowBold;
}

.login-alternative p {
	margin: 6px;
	color: #333;
}
