<% title 'Sign Up' %>

<% content_for :extra_styles do %>
.base-errors {
  padding: 10px;
  border: 1px solid #AA0;
  background: #FFA;
  margin: 0px;
}

.base-errors li {
  list-style-type: none;
}

<% end %>

<ul class="base-errors">
  <li>New user signups are temporarily disabled. We apologize for the inconvenience! Please try again later.</li>
</ul>
