<% content_for :extra_styles do %>
  #registration_header {
    position: relative;
    width: 800px;
    margin: 0px 100px 0px 60px;
  }
  #registration_header h1 {
    font-size: 80pt;
    line-height: 60pt;
    position:absolute;
    top: 60px;
    right: 0px;
    text-align:right;
  }
  #registration_header h2 {
    font-family: PTSansNarrowRegular;
    font-size: 20pt;
    position: absolute;
    top: 150px;
    right: 0px;
    text-align:right;
  }
  .beta-signup-thankyou h2 {
    font-family: PTSansNarrowRegular;
    font-size: 20pt;
    line-height: 25pt;
    color: #444;
  }
  .beta-signup-thankyou p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 15pt;
    color: #666;
  }
<% end %>

<div id="registration_header">
  <%= image_tag 'characters/reggie.jpg', :size => '289x229' %>
  <h1 style="color:#969696;">we're in <span style="color:#525252;">beta</span></h1>
  <h2 style="color:#c0c0c0;">Oh Boy...!</h2>
</div>

<div id="page_content">
  <section id="signup_form">
    <h1><small><span class="accent-color-1">sign-up</span></small><br>
      Form</h1>
      <div class="form_container">
        <% if @registration.persisted? %>
          <%= render :partial => 'thankyou' %>
        <% else %>
          <%= render 'form' %>
        <% end %>
      </div>
  </section>
</div>

