<section id="contactUs" style="display:none;">
  <div class="closeButtonCorner"></div>
  <div class="closeButton"></div>
  <h1>Contact Us</h1>
  <h2>Thank you for your interest.</h2>
  <p>For more information, please email <a href="mailto:contact@worlize.com">contact@worlize.com</a>.</p>
</section>
