<% content_for :extra_head_items do %>
  <meta property="og:type" content="website">
  <meta property="og:title" content="Worlize">
  <meta property="og:image" content="<%= image_path('characters/blusey.jpg') %>">
  <meta property="og:url" content="<%= request.fullpath %>">
<% end %>

<% @hide_login_bar = true %>

<div id="homepage-character">
  <%= image_tag "homepage-jellies/#{@character_name}.jpg", :alt => @saying, :width => 850, :height => 370 %>
</div>

<div id="homepage-login">
  <div class="enter-button-background">
    <a class="enter-button" href="/login">Enter Worlize</a>
  </div>
  <a class="what-is-this-thing-link" href="/about">What is this thing anyway?</a>
</div>

<% content_for :page_script do %>
<script>
jQuery('document').ready(function() {
  $('#homepage_login_link').click(function(event) {
    event.preventDefault();
    $('#homepage_login_layer').fadeIn();
    $('#user_session_username').focus();
  });
});
</script>
<% end %>