<h1>Uncategorized Items</h1>

<% if @items.empty? %>
  (There are no items to categorize.)
<% else %>
  <div id="items_list">
    <div class="marketplace_thumbnail_container">
      <%= render :partial => 'admin/marketplace/categories/item_thumb', :collection => @items %>
    </div>
  </div>
<% end %>

<br><br>
Add new: 
<%= link_to 'Avatar', new_admin_marketplace_item_path(:item_type => 'Avatar') %> |
<%= link_to 'Background', new_admin_marketplace_item_path(:item_type => 'Background') %> |
<%= link_to 'Object', new_admin_marketplace_item_path(:item_type => 'InWorldObject') %>