global:
    default_room_background_url: http://background-images.worlize.com/default-room-background.png
    marketplace_enabled: true
    initial_currency:
        coins: 15000
        bucks: 50
    redis_servers:
        presence:
            host: localhost
            db: 0
        room_server_assignments:
            host: localhost
            db: 1
        room_definitions:
            host: localhost
            db: 2
        cache:
            host: localhost
            db: 3
        pubsub:
            host: localhost
            db: 4
        rails_session:
            host: localhost
            db: 5
        relationships:
            host: localhost
            db: 6
        currency:
            host: localhost
            db: 7
        preferences:
            host: localhost
            db: 8
development:
    amazon:
        backgrounds_bucket: worlize_dev_backgrounds
        avatars_bucket: worlize_dev_avatars
        in_world_objects_bucket: worlize_dev_objects
        media_cdn_bucket: worlize_dev_media
        access_key_id: put_access_key_id_here
        secret_access_key: put_secret_access_key_here
