<h1>Editing Marketplace Item Scheduled Giveaway</h1>

<%= render 'form' %>

<br>
<%= link_to 'Back to Item', admin_marketplace_item_path(@item) %><br><br>
<%= link_to 'Back to Promo Program', admin_promo_program_path(@item_giveaway.promo_program) %>