<% content_for :extra_styles do %>
#virtual-currency-products {
	padding: 0px 0px 25px 0px;
}

#virtual-currency-products > h1 {
	font-size: 26pt;
	margin: 25px 0px 25px 20px;
	margin-bottom: -5px;
}

.virtual-currency-product {
	position: relative;
	float: left;
	height: 150px;
	margin: 20px 20px 0px 20px;
	padding: 15px;
	border: 2px solid #5b5b5b;
	background: #7e7e7e;
	width: 390px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.virtual-currency-product > h1 {
	font-size: 18pt;
	margin-right: 80px;
	margin-bottom: 15px;
	color: #fffdeb;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.virtual-currency-product > h2 {
	font-size: 14pt;
	color: #f3f3f3;
	margin: 5px 0px 5px 5px;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
	margin-bottom: 15px;
}

.virtual-currency-product .features {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 135px;
}

.virtual-currency-product .feature {
	margin: 0px 10px 0px 0px;
	display: inline-block;
	padding: 3px 10px;
	text-indent: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.virtual-currency-product p.coins {
	background: #fcf9e5 url(/images/marketplace/coins-icon.png) no-repeat 8px 5px;
	font-weight: bold;
}

.virtual-currency-product p.bucks {
	background: #edfce8 url(/images/marketplace/bucks-icon.png) no-repeat 8px 6px;
	font-weight: bold;
}

.virtual-currency-product p.price {
	display: block;
	position: absolute;
	top: 13px;
	right: -13px;
	width: 80px;
	text-align: center;
	background: #2ba72b;
	font-family: PTSansNarrowBold, "Arial Narrow", Arial;
	padding: 3px;
	font-size: 14pt;
	color: #FFF;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
	border: 1px solid #e5ffe5;
}

.virtual-currency-product .buy-button {
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: right;
}

<% end %>

<section id="virtual-currency-products">

<h1>Buy Coins and Bucks</h1>

<% if @products.count > 0 %>
  <%= render @products %>
<% else %>  
  <h2>There are no virtual currency packages active!</h2>
<% end %>

  <div class="clearfix"></div>

</section>