<%= title 'Press Information' %>

<% content_for :page_script do %>
<script>
  
</script>
<% end %>

<% content_for :extra_styles do %>
#press-header {
  display: block;
  position: relative;
  width: 850px;
  height: 227px;
  margin: 0px auto 30px;
}

#press-header h1 {
  font-size: 80pt;
  line-height: 80pt;
  position: absolute;
  left: 0px;
  top: 40px;
}
#press-header h2 {
  font-size: 22pt;
  line-height: 22pt;
  font-family: PTSansNarrowRegular, Helvetica, Arial, sans-serif;
  color: #c0c0c0;
  position: absolute;
  left: 380px;
  top: 140px;
}
#press-header .light {
  color: #969696;  
}
#press-header small {
  font-size: 58pt;
}
#press-header img {
  float: right;
}


<% end %>

<div id="press-header">
  <img src="/images/characters/press.jpg" width="287" height="227">
  <h1><span class="light">yes,&nbsp;</span> <small>I am</small> P.R.</h1>
  <h2>unfortunately...</h2>
</div>

<nav class="right-floating-menu">
  <h1>Boring Stuff</h1>
  <ul>
    <li><a href="#in-the-news">In the News</a></li>
    <li><a href="#press-releases">Press Releases</a></li>
    <li><a href="#background">Background</a></li>
    <li><a href="#executive-bios">Executive Bios</a></li>
    <li><a href="#image-gallery">Image Gallery</a></li>
    <li><a href="#contact">Contact</a></li>      
  </ul>
</nav>

<a name="the-pitch"></a>
<section id="the-pitch">
  <h1><small class="accent-color-1">the</small><br>
      PITCH...</h1>
  <h2 class="accent-color-1-dark">Pre-Baked Worlize Script...</h2>
  <p>My name is P.R., I’d like to introduce you to the fantastic, one of a kind, cutting-edge, ground breaking, awesome Worlize.</p>
  <p>Yes, that’s pronounced “whirl'-ize” (or for the rest of the world “whirl'-ise.”)</p>
  <p>Worlize revolutionizes social gaming by bringing in a new level of customization and interaction like never before!<br>
   (If they are laughing - go to section B of the pitch guide, then continue).</p>
  <p>I’d love to setup a demo for you if you have the time sometime this year?</p>
  <p>(If no - call day and night, email constantly and stalk until a yes)<br>
     (If yes - don’t faint.   <strong>Setup a demo and fill out <%= link_to 'this form here', new_registration_path %></strong>)</p>
</section>

<a name="in-the-news"></a>
<section id="in-the-news">
  <h1><small class="accent-color-3">in the</small><br>
      NEWS...</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<a name="background"></a>
<section id="background">
  <h1><small class="accent-color-2">some</small><br>
      BACKGROUND...</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<a name="executive-bios"></a>
<section id="executive-bios">
  <h1><small class="accent-color-4">executive</small><br>
      BIOS...</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<a name="image-gallery"></a>
<section id="image-gallery">
  <h1><small class="accent-color-5">image</small><br>
      GALLERY...</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<a name="contact"></a>
<section id="contact">
  <h1><small class="accent-color-6">establish</small><br>
      CONTACT...</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>