<div id="pressWrapper">
  <img id="pressLogo" src="/images/worlize-logo-press.jpg" alt="Worlize - Your World Realized">
  <section id="pressCorner">
    <h1>Press Corner</h1>
  </section>
  <section id="pressRelease">
    <h1>WORLIZE ANNOUNCES PRIVATE BETA AND INITIAL FUNDING FOR SOCIAL GAMING PLATFORM</h1>
    <h2>New disruptive Worlize platform combines user creativity and gaming with first-of-its-kind features for Facebook, MySpace, Twitter and OpenSocial</h2>

    <p>June 16, 2010 - E3, Los Angeles, CA. – Worlize, Inc. today announced the private beta launch of the first user-created social gaming and chat platform for Facebook and social networks including Twitter, MySpace and OpenSocial.  The much anticipated new 2D platform, slated for launch in Fall 2010, brings together a new world of interactivity for users, including the ability to play and create their own areas and games.  The company has also secured initial funding from private individuals across the gaming and technology spectrum, with investors including Worlize’s newly named CFO, Greg Diller.</p>
    <p>Within Worlize, beginners have point-and-click access to customizable plug-and-play games, including puzzles, time management and strategy casual games, card and board games, as well as MMORPGs. For advanced users and game developers the company will release the Worlize API in late Summer 2010 to allow the creation of highly interactive areas and games within the platform.  The Worlize Platform is currently in Private Beta. To request a beta invite please log-on to <a href="http://www.worlize.com">http://www.worlize.com</a>.</p>
    <p>“We feel users are tired of the restrictive and formulaic approach that social and gaming platforms have adopted. As with web pages or blogs, it is time users have the ability to define their casual gaming and social experiences,” commented CEO and Founder, Brian McKelvey.  “Worlize breaks down the walls currently in place, redefining and enhancing online social experiences for users.”</p>
    <p>The Worlize team is comprised of technology and gaming veterans, including Brian McKelvey, Chief Executive Officer and Founder, and recently named Chief Financial Officer Greg Diller.  McKelvey has over a decade of experience developing and deploying cutting-edge technology within the entertainment and gaming industries. Having designed and deployed applications and casual games for a multitude of corporations including Paramount, Sony Pictures, Lionsgate  and Live Nation.  Chief Financial Officer Greg Diller brings over thirty years of corporate financial and technology expertise, including extensive experience with strategic planning, acquisitions, infrastructure, tax and risk management.   Diller's career has spanned across all facets of the entertainment industry, from The Hollywood Reporter to Cannon Pictures, and most recently, Metro-Goldwyn-Mayer (MGM).</p>

    <section class="boilerPlate">
      <h1>About Worlize, Inc.</h1>

      <p>Worlize is a user-generated social game and chat platform for Facebook and social networks, including MySpace, Twitter and OpenSocial.  Currently in Private Beta, the company will launch the Worlize platform public beta in early Fall 2010.  Founded by entertainment technologist Brian McKelvey, Worlize, Inc. is based in Los Angeles.</p>
    </section>
    <section class="mediaContact">
      <h1>Media Contact Information</h1>

      <p>
      Jessica Hasson<br>
      310-710-3556<br>
      <a href="mailto:jessica@socialradius.com">Jessica@socialradius.com</a>
      </p>
    </section>
  </section>
</div>
<footer>
    <p id="copyright">Copyright © 2010 Worlize Inc.</p>
</footer>