<section id="add_subcategory_form">
  <h3>Add Subcategory</h3>

<%= form_for [:admin, category],
             :remote => true do |f| %>
  <%= f.hidden_field :parent_id %>
  Name: <%= f.text_field :name %> <%= f.submit :add %>
<% end %>
<br>
</section>
