<section id="add_subcategory_form">
  <h3>Add Subcategory</h3>

<%= form_for [:admin, category],
             :html => { :id => 'subcategory_form' } do |f| %>
  <%= f.hidden_field :parent_id %>
  <%= f.text_field :name, :id => 'subcategory_name_field' %> <%= f.submit :add, :id => 'subcategory_submit' %>
<% end %>
<br>
</section>
