<% title 'Sign in' %>

<div id="login-overlay">
	<div id="main-login-1">
	  <div class="character">
  	  <h1>Oh Boy!</h1>
  	  <h2>You're almost there!</h2>
	  </div>

    <div class="social-network-buttons">
      <p class="social-network-or">or sign in with:</p>
  	  <div class="facebook-login">
	      <a href="/auth/facebook">
  	      <img src="/images/homepage-facebook-icon.png">
  	    </a>
      </div>
      <div class="twitter-login">
  	    <a href="/auth/twitter">
  	      <img src="/images/homepage-twitter-icon.png">
  	    </a>
  	  </div>
    </div>
	  
	  <div class="login-form">
  	  <div class="login-error" style="display:none;">
  	    Invalid username or password.
  	  </div>
      <%= form_for @user_session, :url => user_session_path, :html => {:id => 'username-login-form', :class => 'standard_form'} do |f| %>
    	  <table>
    	    <tr>
            <td>
              <label id="username-label" for="login-form-username-field">Username:</label>
            </td>
            <td>
              <input type="text" name="user_session[username]" id="login-form-username-field">
            </td>
    	    </tr>
    	    <tr>
            <td>
              <label id="password-label" for="login-form-password-field">Password:</label>
            </td>
            <td>
              <input type="password" name="user_session[password]" id="login-form-password-field">
            </td>
          </tr>
          <tr>
            <td>
              
            </td>
            <td style="text-align: right;">
              <input type="submit" name="submit" id="login-form-submit-button" value="Let's Go!">
            </td>
    	    </tr>
    	  </table>
      <% end %>
	  </div>
	  
	  <div class="sign-up-link-container">
      <%= link_to 'Sign up with username/password.', new_user_path, :class => "sign-up-link"  %>
    </div>
	</div>
</div>

<% content_for :page_script do %>
<script>
  jQuery(function($) {
    $('#username-login-form').bind('submit', function(event) {
      event.preventDefault();

      $.post('<%= user_session_path(:format => :json) %>',
        $('#username-login-form').serialize(),
        function(data, textStatus, jqXHR) {
          if (data.success) {
            top.location.href = data.redirect_to;
          }
          else {
            $('#main-login-1  .login-error').show();
            $('#main-login-1  .login-error').addClass('highlight');
            setTimeout(function() {
              $('#main-login-1  .login-error').removeClass('highlight');
            }, 250);
          }
        }
      );
    });
  });
</script>
<% end %>
